.bar {
    align-items: center;
    background: hsl(300, 26%, 95%);
    border-radius: 7px;
    display: flex;
    gap: 30px;
    padding: 22px 60px 18px 35px;
    width: max-content;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 15px;
        margin-left: 0px !important;
        padding: 22px 35px 18px 35px;
        width: 100%;
    }

    p {
        color: hsl(300, 43%, 22%);
        font-weight: 700;
        font-size: 22px;

        @media screen and (max-width: 768px) {
            font-size: 20px;
            text-align: center;
        }


        @media screen and (max-width: 425px) {}



    }
}

.stars {
    display: flex;
    gap: 10px;
}